<h1 class="display-2" align="center">Articles</h1>
<%= render 'shared/search' %>
<%= render 'article', obj: search_results(Article.all) %>
<br>
<br>
<nav class="pagination justify-content-center" >
  <div class="flickr_pagination">
    <%= will_paginate %>
  </div>
</nav>
