<h1 class="display-2" align="center">Articles</h1>
<%= render 'article', obj: search_results(Article.all) %>
<br>
<br>
<nav class="pagination justify-content-center" >
  <%= will_paginate %>
</nav>
