<h1>About this Site</h1>
<p>
  Alpha-blog is an open source Ruby on Rails blog application. Feel free
  to sign up, write an article, or contribute some code!
</p>
<button class="btn btn-outline-primary btn-lg"><%= link_to 'Home', root_path %></button>
