<h1>About this Site</h1>
<p>
  This is the first Rails application I've built. I'm experimenting with
  backend logic as well as frontend design. Cheers!
</p>
<button class="btn btn-outline-primary btn-lg"><%= link_to 'Home', root_path %></button>
