<h1 align="center">Listing all Categories</h1>
<%= render 'shared/search' %>

<% search_results(Category.all).each do |category| %>
  <div class="card-decks" align="center">
    <div class="card border-dark mb-3" style="width: 35rem;" align="center">
      <div class="card-body text-dark" align="center">
        <h5 class="card-header"><%= link_to category.name, category_path(category) %></h5>
        <p><small><%= pluralize(category.articles.count, "article") %></small></p>
      </div>
    </div
  </div>
<% end %>
<nav class="pagination justify-content-center" >
  <%= will_paginate :renderer => WillPaginate::ActionView::Bootstrap4LinkRenderer %>
</nav>
